#div1,#div2,#div3,#div4,#div5,#div6,#div7,#div8,#div9 {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    float: left;
    font-size: 180px;
    text-align: center;
    cursor: pointer;
  }

  #div1,#div4,#div7 {
    clear: left;
    border-left: none;
  }

  #div1,#div2,#div3 {
    border-top: none;
  }

  #div3,#div6,#div9 {
    border-right: none;
  }

  #div7,#div8,#div9 {
    border-bottom: none;
  }

  #main {

    margin-left: 535px;
    margin-top: 139px;


}